{{- $navWidth := "hx:max-w-[90rem]" -}}
{{- with .Site.Params.navbar.width -}}
{{ if eq . "normal" -}}
{{ $navWidth = "hx:max-w-screen-xl" -}}
{{ else if eq . "full" -}}
{{ $navWidth = "max-w-full" -}}
{{ end -}}
{{- end -}}

{{- $page := . -}}
{{- $iconHeight := 24 -}}

<header>
    <nav class="navbar navbar-expand-sm navbar-dark main-nav" style="padding-top: 5px; padding-bottom: 5px;">
        <div class="container justify-content-center">
            <img src="/img/logo.svg" width="100" />
            <h1 style="color:white; font-weight: 300; margin-top: 3px;">Trayce</h1>
            <ul class="nav navbar-nav w-100 justify-content-end">
                <li class="nav-item active">
                    <a class="nav-link" href="/#features">Features</a>
                </li>
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="/docs">Docs</a>
                </li> -->
                <li class="nav-item active">
                    <a class="nav-link"
                        href="https://us14.list-manage.com/contact-form?u=12e6589bb25afc25201b8a0d6&form_id=da49f328f865cdff8c4cc70aa118cd17">Contact</a>
                </li>
                <li class="nav-item">
                    <a class=" btn btn-primary btn-sm" href="#download"
                        style="margin-top: 4px; background-color: #6CB4AD; border: 0;">
                        <i class="bi bi-download"></i>
                        Download
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/evanrolfe/trayce_gui" class="btn btn-secondary btn-sm"
                        style="margin-top: 4px; margin-left: 4px; border: 0; position: relative;">
                        <i class="bi bi-github" style="height: 15px;"></i>
                        Github
                        <span class="badge position-absolute top-0 start-100 translate-middle"
                            style="font-size: 0.6rem; z-index: 1000; background-color: #ffb3ba; color: #333;">
                            446 Star
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
